@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f76b8a;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    background-color: #fcfefe;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}
.header{
    background-color: #66bfbf;
    color: white;
    border-radius: 8px 8px 0 0;
    font-size: 1.2rem;
    padding: 10px;
    margin-bottom: 10px;
}
.header:hover{
    color: black;
}
label{
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input{
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 3px;
}
.output{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
p{
    color: rgb(255, 0, 0);
}